.footer {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  color: $brand-color;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  /*width: $container-width;*/
}
.footer a {
  color: $brand-color;
  padding: 0px 10px 0px;
  text-decoration: none;
}
@media (max-width: $container-width) {
  .footer {
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    color: $brand-color;
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 95vw;
  }
}
